<header class="header">
    <div class="header__top">
        <div class="header__top-wrapper">
            <p class="header__top-title">📦 Final Stock - Up to 50% off select items</p>
            <button class="btn header__top-btn">Shop the Sale →</button>
        </div>
      
    </div>
    <div class="container "> 
        <div class="header__inner">
            <div class="header__left">
                <img src="./images/logo.png" alt="logo" class="header__logo">
                <nav class="header__menu">
                    <ul class="header__menu-list">
                        <li class="header__menu-item"><a href="#" class="header__menu-link">Men</a></li>
                        <li class="header__menu-item"><a href="#" class="header__menu-link">Women</a></li>
                        <li class="header__menu-item"><a href="#" class="header__menu-link">Objects</a></li>
                        <li class="header__menu-item"><a href="#" class="header__menu-link">Analog</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__right">
                    
                    <a href="#" class="header__right-link">Journal</a>
                    <span></span>
                    <a href="#" class="header__right-link">Search</a>
                    <a href="#" class="header__right-link login-link">Login</a>
                    <span></span>
                    <img src="./images/card.png" alt="" class="header__card">
                    
            </div>

        </div>
    </div>
</header>
